.form{
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;    
}
.p-personal-info{
    color: var(--Text, #08263F);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}

.input-personal-info{
    display: flex;
    height: fixed 56px;
    padding: 20px 12px;
    width: 588px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(20, 92, 153, 0.10);
    background: #FFF;
}

.input-message{
    display: flex;
    width: 588px;
    height: 100px;
    padding: 20px 12px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.checkbox{
    display: flex;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: stretch;
}

.button-cancel{
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 80px;
    border: none;
    width: auto 135px;
    background-color: white;
}

.button-send{
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 80px;
    border: none;
    width: 200px;
    height: auto 11px;
    color:white
}
.button-send:hover{
    background: #145C99;
}
.p-button-cancel{
    color: var(--Devider, #B5B5B5);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.p-button-send{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



