.navbar{
    background-color: #fff;
    border-bottom: 0.5px solid black;
    display: flex;
    width: fixed 636px;
    height: auto 96px;
    padding-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-bottom-color: rgba(8, 38, 63, 0.10);
    align-items: center;
    justify-content: center;
}

.navbar-title{
    display: flex;
    width: 588px;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.title{
    color: var(--Text, #08263F);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}